@charset "utf-8";
/* CSS Document */
  
/*************************************************Tablas***************************************/

.datos{
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px; 
}
.tableRollOverEffect{
/*Efecto cuando el mouse pasa por encima*/
background-color:#000;
color:#fff;
}
.tableRowClickEffect{
/*Efecto cuando se ha realizado clic*/
background-color:#F00;
color:#FFF;
}

table { 
    width: 100%; 
    border-collapse: collapse; 
}
/* Zebra striping 
tr:nth-child(2n+1) { 
  background: #eef1ed; 
}*/
th { 
    height:  52px;
    background: #222222; 
    color: white; 
    font-weight: bold;
    font-family: arial;
    font-size:10px;   
    text-align: center;
    border-left:solid 1px;
    border-left:dashed 1px ;
    border-left-color: #999999;
    padding: 3px;
    
    
  }
td { 
    padding: 6px;
    border-left:solid 1px;
    border-left:dashed 1px ;
    border-left-color: #999999;
    border-bottom:solid 1px;
    border-bottom-color: #999999;
    text-align: center;
    
}
  
