@charset "utf-8";
/* CSS Document */
  
/************************************************Apariencia*******************************************/
.header{
 	  margin-left: auto;
 	  margin-right: auto;
	  margin-top: 10px;
  	width: 1000px;
  	height: 60px;
  	background: -webkit-linear-gradient(#878787,#373737);
  	background: -moz-linear-gradient(#878787,#373737);
  	background: -o-linear-gradient(#878787,#373737);
  	background: linear-gradient(#878787,#373737);
 	  border-bottom: 5px solid #2c8cbf; 
  	text-align: left;
  	color: #fff;	
  	border-top-left-radius: 4px;
  	border-top-right-radius: 4px;  	
 }
.lineaAzul{
  margin-top: 20px;
  border-bottom: 5px solid #2c8cbf;
}
.header2{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;      
    height: 60px;
    background: -webkit-linear-gradient(#878787,#373737);
    background: -moz-linear-gradient(#878787,#373737);
    background: -o-linear-gradient(#878787,#373737);
    background: linear-gradient(#878787,#373737);
    border-bottom: 5px solid #2c8cbf; 
    text-align: left;
    color: #fff;  
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;       
 }
.lineaAzul2{
  margin-top: 20px;
  border-bottom: 5px solid #2c8cbf;
}
/************************************************Estilos del loading**********************************/
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('..//img/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}

/*****************************************Cuadros Principales****************************************/
.box { 
    position:relative;
    margin: auto;   
    border: 1px solid #b1b8c0; 
    width: 998px;
    background: #fff; 
    /* -- CSS3 - define rounded corners -- */	
  	border-bottom-left-radius: 4px;
  	border-bottom-right-radius: 4px;  	

}
.box_azul { 
    position:relative;
    margin: auto;   
    width: 800px;
    background: #3d5875;     
    border-radius: 10px;
    padding:15px 15px 15px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.box_blanco { 
    
    margin: auto;       
    background: #fff;     
    border-radius: 10px;
    padding:10px 10px 10px 10px;
}

.box2 { 
    position:relative;
    margin-left: 20px;   
    margin-right: 20px;   
    border: 1px solid #b1b8c0; 
    background: #fff; 
    /* -- CSS3 - define rounded corners -- */ 
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;    

}
.box_azul2 { 
    position:relative;
    margin-left: 20px;
    margin-right: 20px;
    background: #3d5875;     
    border-radius: 10px;
    padding:15px 15px 15px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.box_blanco2 { 
    position:relative;
    margin: auto;       
    background: #fff;     
    border-radius: 10px;
    padding:20px 20px 20px 20px;
}
a:visited
{
	font-family: Verdana, Geneva, sans-serif;
	font-size:14px;
	text-decoration:none;
	color:#0099FF;		
}

a:active
{
	font-family: Verdana, Geneva, sans-serif;
	font-size:14px;
	text-decoration:none;
	color:#0099FF;
}

a:link
{
	font-family: Verdana, Geneva, sans-serif;
	font-size:14px;
	text-decoration:none;
	color:#0099FF;
}

a:hover
{
	font-family: Verdana, Geneva, sans-serif;
	font-size:14px;
	text-decoration:none;
	color:#0099FF;
	
	
}



/************************************************Controles*******************************************/
.fl{
  float: left;
}
.none{
  clear: left;
}
.ml{
  position: relative;
  margin-left: 20px;
}

.subtitulosl{
  text-align: left;
  width: 225px; 
}

.inputbox{
  background:#FFF;
  font-size: 15px;
  color: #000;
  border: 1px solid #DBDBDB;
  height: 25px;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
  margin-right: 10px;

}
.input25{
  width: 226px;
}

.combos{
  background:#FFF;
  font-size: 11px;
  color: #000;
  border: 1px solid #DBDBDB;
  height: 24px;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
}

.lista_titulo{
   font-size: 12px;
   float:left;
  color: #000;
  border: 1px solid #DBDBDB;
  width:240px;  
  height: 24px;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
}

.lista{
   font-size: 12px;
   float:left;
  color: #000;
  border: 1px solid #DBDBDB;
  width:240px;
  
  height: auto;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.lista_botones{
   font-size: 12px;
   float:left;
  color: #000;
  width:auto;  
  height: 24px;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
}

.maestro_titulo{
   font-size: 12px;
   float:left;
  color: #000;
  border: 1px solid #DBDBDB;
  width:143px;
  font-size:14px;
color:#000000;
font-family:arial;
font-weight:bold;
  height: 24px;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.maestro_lista{
	font-family: Verdana, Geneva, sans-serif;
   float:left;
  color: #000;
  font-size:14px;
  border: 1px solid #DBDBDB;
  width:143px; 
  height: auto;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
}


/***********************************************Letras y titulos**********************************************/
a:link {
  font-family: "Open Sans Light",X-LocaleSpecific-Light,"Open Sans",X-LocaleSpecific,sans-serif;
  font-weight: bold;
  font-size: 10px;
}

.titulo1{
  position: relative;
  font-size:14px;
  color:#3d5875 ;
  font-family:arial;    
  margin-top: 10px;
}

.titulo2{
  font-size:14px;
  font-family:arial;
  color: #fff; 
  font-weight: bold;
  text-align: center; 
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;   
  background-color: #a6daff;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;

}
.rows_centrado{
  font-size:14px;
  font-family:arial;
  color: #000; 
  text-align: center; 
  float: left;
  border-style:solid;
  border-width: 1px;
  border-color:#eaedee;
  padding: 2px;
  height: 25px;
}
.rows_izquierda{
  font-size:14px;
  font-family:arial;
  color: #000; 
  text-align: left; 
  float: left; 
  border-style:solid;
  border-width: 1px;
  border-color:#eaedee;
  padding: 2px;
   height: 25px;
}
.rows_centrado2{
  font-size:10px;
  font-family:arial;
  color: #000; 
  text-align: center; 
  float: left;
  border-style:solid;
  border-width: 1px;
  border-color:#eaedee;
  padding: 2px;
  height: 35px;
}
.rows_izquierda2{
  font-size:10px;
  font-family:arial;
  color: #000; 
  text-align: left; 
  float: left; 
  border-style:solid;
  border-width: 1px;
  border-color:#eaedee;
  padding: 2px;
   height: 35px;
}
.ancho_50{
  width: 50px;    
}
.ancho_65{
  width: 68px;    
}
.ancho_75{
  width: 75px;    
}
.ancho_100{
  width: 100px;    
}
.ancho_115{
  width: 119px;    
}
.ancho_125{
  width: 125px;    
}
.ancho_150{
  width: 150px;  
}
.ancho_175{
  width: 170px;  
}
.ancho_200{
  width: 200px;  
}
.ancho_450{
  width: 450px;  
}


.subtitulos{
  font-size:14px;
  font-family:arial;
  color: #fff; 
  font-weight: bold;
  text-align: center; 
  float: left;
  background: -webkit-linear-gradient(#9ac4d5,#097cb0);
  background: -moz-linear-gradient(#9ac4d5,#097cb0);
  background: -o-linear-gradient(#9ac4d5,#097cb0);
  background: linear-gradient(#9ac4d5,#097cb0);
  border-style:solid;
  border-width: 1px;
  border-color:#eaedee;
  /*border-top: 2px solid #fff; 
  border-width: 2px;*/
  padding: 2px;

}
.subtitulos2{
  font-size:10px;
  font-family:arial;
  color: #fff; 
  font-weight: bold;
  text-align: center; 
  float: left;
  background: -webkit-linear-gradient(#9ac4d5,#097cb0);
  background: -moz-linear-gradient(#9ac4d5,#097cb0);
  background: -o-linear-gradient(#9ac4d5,#097cb0);
  background: linear-gradient(#9ac4d5,#097cb0);
  border-style:solid;
  border-width: 1px;
  border-color:#eaedee;
  /*border-top: 2px solid #fff; 
  border-width: 2px;*/
  padding: 2px;

}
.labels{
  font-size:14px;
  font-family:arial;
  color: #fff; 
  font-weight: bold;
  text-align: left; 
  padding: 2px;


}

.row_reset{
  position: relative;
  font-size:10px;
  font-family:arial;
  color: #000; 
  text-align: left; 
  float: none; 
  border-style:solid;
  border-width: 1px;
  border-color:#eaedee;
  padding: 2px;
  height: 25px;
   
}

.tabla_izquierda{
  margin-left: -5px;
  float: left;
}

.Arial18Morado{
  font-weight:bold;
  font-size:18px;
  color:#3d5875 ;
  font-family:arial;
}

.Arial14Negro{
  font-size:14px;
  color:#000000;
  font-family:arial;
}

.Arial14blanco{
  font-size:14px;
  color: #ffffff;
  font-family:arial;
  font-weight:bold;
}
.Arial14Morado{
  font-weight:bold;
  font-size:14px;
  color:#3d5875 ;
  font-family:arial;
}
.Arial10Negro{
  font-size:10px;
  color:#000000;
  font-family:arial;
}

/***********************************************Buscador**********************************************/


#caja_busqueda /*estilos para la caja principal de busqueda*/
{
width:400px;
height:25px;
border:solid 2px #979DAE;
font-size:16px;
}
#display /*estilos para la caja principal en donde se puestran los resultados de la busqueda en forma de lista*/
{
width:400px;
display:none;
overflow:hidden;
z-index:10;
border: solid 1px #666;
}
.display_box /*estilos para cada caja unitaria de cada usuario que se muestra*/
{
padding:2px;
padding-left:6px; 
font-size:18px;
height:63px;
text-decoration:none;
color:#3b5999; 
}

.display_box:hover /*estilos para cada caja unitaria de cada usuario que se muestra. cuando el mause se pocisiona sobre el area*/
{
background: #7f93bc;
color: #FFF;
}
.desc
{
color:#666;
font-size:16;
}
.desc:hover
{
color:#FFF;
}

.rectangulo {
  margin:10px;
  width: 170px;
  height: 100px;
  background: #ff534f;
  float:left;
}
.mini_rectangulo {
  margin-top:10px;
  width: 170px;
  height: 20px;
  background: rgba(76,76,76,1);
  background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,0.95) 12%, rgba(28,28,28,0.59) 91%, rgba(19,19,19,0.55) 100%);
  float:left;
}

.rectangulo2 {
  margin:10px;
  width: 170px;
  height: 100px;
  background: #2da8e3;
  float:left;
}

.rectangulo3 {
  margin:10px;
  width: 170px;
  height: 100px;
  background: #fd5f33;
  float:left;
}

.rectangulo4 {
  margin:10px;
  width: 170px;
  height: 100px;
  background: #ea498a;
  float:left;
}

.rectangulo_titulo {
  margin-top:10px;
  margin-left: 10px;
  width: 740px;
  height: 40px;
  background: #e9ebec;  
}

.texto_cuadros_sombreado{
  margin-top: 2px;
  margin-left: 50px; 
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  font-family: "Open Sans Light",X-LocaleSpecific-Light,"Open Sans",X-LocaleSpecific,sans-serif;
}

.texto_cuadros_blanco{
  letter-spacing: -0.035em;
  margin-left: 20px;
  font-family: "Open Sans Light",X-LocaleSpecific-Light,"Open Sans",X-LocaleSpecific,sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #fff;
}

.texto_titulo{
  letter-spacing: -0.035em;
  margin-top: 10px;
  margin-left: 300px;
  font-family: "Open Sans Light",X-LocaleSpecific-Light,"Open Sans",X-LocaleSpecific,sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #ff5050;
}

.texto_subtitulo{
  letter-spacing: -0.045em;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #0040ff;
}

.listado{
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;   
  vertical-align: text-top;
  text-align: left;
}

.td_items{
  padding-bottom: 20px;
  padding-right: 20px;
}