@charset "utf-8";
/* CSS Document */
  
/************************************************Apariencia*******************************************/
 .header{
 	margin-left: auto;
 	margin-right: auto;
	margin-top: 10px;
  	width: 1000px;
  	height: 60px;
  	background: -webkit-linear-gradient(#878787,#373737);
  	background: -moz-linear-gradient(#878787,#373737);
  	background: -o-linear-gradient(#878787,#373737);
  	background: linear-gradient(#878787,#373737);
 	border-bottom: 5px solid #2c8cbf; 
  	text-align: left;
  	color: #fff;	
  	border-top-left-radius: 4px;
  	border-top-right-radius: 4px;  	
 }


 .box { 
    position:relative;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 200px;
    border: 1px solid #b1b8c0; 
    width: 998px;
    background: #fff; 
    /* -- CSS3 - define rounded corners -- */	
  	border-bottom-left-radius: 4px;
  	border-bottom-right-radius: 4px;  	
    height: auto;


    
}

.lnk_grid:visited
{
	font-family: Verdana, Geneva, sans-serif;
	font-size:12px;
	text-decoration:none;
	color: #1CA832;
}

.lnk_grid:active
{

	font-family: Verdana, Geneva, sans-serif;
	font-size:12px;
	text-decoration:none;
  color: #1CA832;	
}

.lnk_grid:link
{

	font-family: Verdana, Geneva, sans-serif;
  font-size:12px;
	text-decoration:none;
	color: #1CA832;
}


.lnk_grid:hover
{
	font-family: Verdana, Geneva, sans-serif;
	font-size:12px;
	text-decoration:none;
	color: #1CA832;
}


/************************************************Controles*******************************************/
.inputbox{
  background:#FFF;
  font-size: 15px;
  color: #000;
  border: 1px solid #DBDBDB;
  height: 25px;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
}


.inputbox_ubicacion{
  background:#FFF;
  font-size: 15px;
  color: #000;
  border: 1px solid #DBDBDB;
  height: 25px;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
   width:99.5%;
}


.inputbox_largo_descripcion{
  background:#FFF;
  font-size: 15px;
  color: #000;
  border: 1px solid #DBDBDB;
  height: 25px;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
   width:100%
}



.inputbox_largo{
  background:#FFF;
  font-size: 15px;
  color: #000;
  border: 1px solid #DBDBDB;
  height: 25px;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
   width:95%
}

.inputbox_busqueda{
  background:#FFF;
  font-size: 15px;
  color: #000;
  border: 1px solid #DBDBDB;
  height: 25px;
  padding:0px;
  width:100%
  
}

.combos{
  background:#FFF;
  font-size: 11px;
  color: #000;
  border: 1px solid #DBDBDB;
  height: 24px;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
}

.combos_activos{
  background:#FFF;
  font-size: 11px;
  color: #000;
  border: 1px solid #DBDBDB;
  height: 31px;
  padding:0px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
  width:100%
}


.combos_persona{
  background:#FFF;
  font-size: 14px;
  color: #000;
  border: 1px solid #DBDBDB;
  height: 31px;
  padding:0px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
  width:102%
}

.lista_titulo{
   font-size: 12px;
   float:left;
  color: #000;
  border: 1px solid #DBDBDB;
  width:240px;
  
  height: 24px;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.lista{
   font-size: 12px;
   float:left;
  color: #000;
  border: 1px solid #DBDBDB;
  width:240px;
  
  height: auto;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.lista_botones{
   font-size: 12px;
   float:left;
  color: #000;
  width:auto;
  
  height: 24px;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
}

.maestro_titulo1{
  font-size: 12px;
  float:left;
  color: #000;
  border: 1px solid #DBDBDB;
  width:95px;
  font-size:14px;
  color:#000000;
  font-family:arial;
  font-weight:bold;
  height: 30px;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.maestro_titulo2{
  font-size: 12px;
  float:left;
  color: #000;
  border: 1px solid #DBDBDB;  
  font-size:14px;
  color:#000000;
  font-family:arial;
  font-weight:bold;
  height: 30px;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.maestro_titulo3{
  font-size: 12px;
  float:left;
  color: #000;
  border: 1px solid #DBDBDB;  
  font-size:14px;
  color:#000000;
  font-family:arial;
  font-weight:bold;
  height: 30px;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.maestro_lista{
	font-family: Verdana, Geneva, sans-serif;
	font-size:10px!important ;
  float:left;
  color: #000;
  font-size:14px;
  border: 1px solid #DBDBDB;
  height: 100px;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.maestro_lista1{
	font-family: Verdana, Geneva, sans-serif;
	font-size:10px!important ;
  float:left;
  color: #000;
  font-size:14px;
  border: 1px solid #DBDBDB;
  height: 100px;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.maestro_lista3{
	font-family: Verdana, Geneva, sans-serif;
	font-size:10px;
  float:left;
  color: #000;
  font-size:14px;
  border: 1px solid #DBDBDB;
  height: 100px;
  padding:2px;
  -webkit-border-radius: 4px; -moz-border-radius: 4px;
}




/***********************************************Letras**********************************************/


.Arial18Morado{
font-size:14px;
color:#000000;
font-family:arial;
}

.Arial14blanco{
font-size:14px;
color: #ffffff;
font-family:arial;
font-weight:bold;
}
.Arial18Morado{
  font-weight:bold;
  font-size:18px;
  color:#3d5875 ;
  font-family:arial;
}

.Arial14Azul {
font-size: 14px;
color: #1922EB;
font-family: arial;
}

/***********************************************Buscador**********************************************/


#caja_busqueda /*estilos para la caja principal de busqueda*/
{
width:400px;
height:25px;
border:solid 2px #979DAE;
font-size:16px;
}
#display /*estilos para la caja principal en donde se puestran los resultados de la busqueda en forma de lista*/
{
width:400px;
display:none;
overflow:hidden;
z-index:10;
border: solid 1px #666;
}
.display_box /*estilos para cada caja unitaria de cada usuario que se muestra*/
{
padding:2px;
padding-left:6px; 
font-size:18px;
height:63px;
text-decoration:none;
color:#3b5999; 
}

.display_box:hover /*estilos para cada caja unitaria de cada usuario que se muestra. cuando el mause se pocisiona sobre el area*/
{
background: #7f93bc;
color: #FFF;
}
.desc
{
color:#666;
font-size:16;
}
.desc:hover
{
color:#FFF;
}

.menu_calidad{
      
      position: relative;
      font-family: Calibri;
      margin-top: 20px;
      font-size: 15px;
      line-height: 20px;
      color: #333;
      font-weight: bold;
      text-shadow: 0 1px 0 rgba(255,255,255,.8);
      box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.2) inset, -1px 0 1px 0 rgba(255, 255, 255, 0.3) ;
      float: left;
      height: 43px;
      padding-top: 27px;
      text-align: center;
      width: 195px;
      display: block;
      text-decoration: none;
      margin: auto;
}

#sombra_azul:hover{
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  background-color: #00aeef;

}   

.lineaAzul{
  margin-top: 20px;
  border-bottom: 5px solid #2c8cbf;
}



.Tabla_Lista {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.Tabla_Lista table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.Tabla_Lista tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.Tabla_Lista table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.Tabla_Lista table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.Tabla_Lista tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.Tabla_Lista tr:hover td{
	
}
.Tabla_Lista tr:nth-child(odd){ background-color:#cccccc; }
.Tabla_Lista tr:nth-child(even)    { background-color:#ffffff; }.Tabla_Lista td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:8px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.Tabla_Lista tr:last-child td{
	border-width:0px 1px 0px 0px;
}.Tabla_Lista tr td:last-child{
	border-width:0px 0px 1px 0px;
}.Tabla_Lista tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.Tabla_Lista tr:first-child td{
		background:-o-linear-gradient(bottom, #7f7f7f 5%, #7f7f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7f7f7f), color-stop(1, #7f7f7f) );
	background:-moz-linear-gradient( center top, #7f7f7f 5%, #7f7f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f7f7f", endColorstr="#7f7f7f");	background: -o-linear-gradient(top,#7f7f7f,7f7f7f);

	background-color:#7f7f7f;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.Tabla_Lista tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #7f7f7f 5%, #7f7f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7f7f7f), color-stop(1, #7f7f7f) );
	background:-moz-linear-gradient( center top, #7f7f7f 5%, #7f7f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f7f7f", endColorstr="#7f7f7f");	background: -o-linear-gradient(top,#7f7f7f,7f7f7f);

	background-color:#7f7f7f;
}
.Tabla_Lista tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.Tabla_Lista tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.fieldset_buscador {   
  -moz-border-radius:5px;  
  border-radius: 5px;  
  -webkit-border-radius: 5px; 
}

.link_volver
{
	font-family: Verdana, Geneva, sans-serif;
	font-size:12px;
	text-decoration:none;
	color: #333;
}

.lnk_grid:hover {
font-family: Verdana, Geneva, sans-serif;
font-size: 12px;
text-decoration: none;
color: #FF1212;
}





.Tabla_busqueda {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #ffffff;
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.Tabla_busqueda table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.Tabla_busqueda tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.Tabla_busqueda table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.Tabla_busqueda table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.Tabla_busqueda tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.Tabla_busqueda tr:hover td{
	
}
.Tabla_busqueda tr:nth-child(odd){ background-color:#ffffff; }
.Tabla_busqueda tr:nth-child(even)    { background-color:#ffffff; }.Tabla_busqueda td{
	vertical-align:middle;
	
	
	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:0px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.Tabla_busqueda tr:last-child td{
	border-width:0px 1px 0px 0px;
}.Tabla_busqueda tr td:last-child{
	border-width:0px 0px 1px 0px;
}.Tabla_busqueda tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.Tabla_busqueda tr:first-child td{
		background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff");	background: -o-linear-gradient(top,#ffffff,ffffff);

	background-color:#ffffff;
	border:0px solid #ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}
.Tabla_busqueda tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff");	background: -o-linear-gradient(top,#ffffff,ffffff);

	background-color:#ffffff;
}
.Tabla_busqueda tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.Tabla_busqueda tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.no_resise{
    resize: none;
}

.col_mitad{
	 width:50%
}

